In [1]:
def filter_list(lst):
    int_list=[]

    for i in lst:
        if type(i) != str:
            int_list.append(i)
    
    return int_list

In [2]:
filter_list([1, 2, 3, "a", "b", 4])

In [3]:
filter_list(['A', 0, 'Edabit', 1729, 'Python', '1729'])

In [12]:
'''mean(42) ➞ 3.0

    mean(12345) ➞ 3.0

    mean(666) ➞ 6.0'''

def mean(digits):
    digit_array=[int(digit) for digit in str(digits)]
    return (sum(digit_array)/len(digit_array))

In [11]:
mean(42)

here
[4, 2]
3.0

In [13]:
mean(12345)

3.0

In [14]:
mean(666)

6.0

In [27]:
"""
Write a function that takes a string and calculates the number of letters and digits within it. Return the result in a dictionary.

Examples:
    count_all("Hello World") ➞ { "LETTERS":  10, "DIGITS": 0 }

    count_all("H3ll0 Wor1d") ➞ { "LETTERS":  7, "DIGITS": 3 }

    count_all("149990") ➞ { "LETTERS": 0, "DIGITS": 6 }

Notes:
    - Tests contain only alphanumeric characters.
    - Spaces are not letters.
    - All tests contain valid strings.
    - The function should return dictionary

"""

def count_all(string):
    letter_cnt=digit_cnt=0
    
    split_str_array=[char for char in string]
    #print (split_str_array)
    for i in split_str_array:
        if i in ['1','2','3','4','5','6','7','8','9','0']:
            digit_cnt+=1
        elif type(i) == str:
            if i != " ":
                letter_cnt+=1
        
    
    #print(letter_cnt)
    #print(digit_cnt)
    
    ret_dict={"LETTERS":  letter_cnt, "DIGITS": digit_cnt }
    
    return(ret_dict)

In [28]:
count_all("Hello World")

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
10
0
{'LETTERS': 10, 'DIGITS': 0}

In [29]:
count_all("H3ll0 Wor1d")

['H', '3', 'l', 'l', '0', ' ', 'W', 'o', 'r', '1', 'd']
7
3
{'LETTERS': 7, 'DIGITS': 3}

In [30]:
count_all("149990")

['1', '4', '9', '9', '9', '0']
0
6
{'LETTERS': 0, 'DIGITS': 6}

In [6]:
"""
 - Connect to the hr.db (stored in supporting-files directory) with sqlite3 
 - Write a query to get the names (first_name, last_name), salary, 
 PF of all the employees (PF is calculated as 12% of salary)

Expected columns:
    - first_name	
    - last_name	
    - salary
    - PF

Notes:
    - You can connect to DB from Jupyter Lab/Notebook, explore the table and try different queries
    - In the variable 'SQL' store only the final query ready for validation 
"""


#SQL = "IMPLEMENT ME"

import sqlite3
from sqlite3 import Error

#function to create connection
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

connection = create_connection('C:\\Users\\aysha\\Documents\\Python Scripts\\assessment-exam-student-python\\supporting_files\\hr.db')


#function to run queries using connections created and read query passed as argument
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        print('here')
        for row in result:
            print(row)
        return result
    except Error as e:
        print(f"The error '{e}' occurred")
 
select_sql ="""
select first_name, last_name, salary, (0.12)*salary as PF from employees
"""

select_emp_dep="""select first_name, last_name, department_id from employees where department_id in (3,10) order by department_id asc"""


emp_data=execute_read_query(connection, select_sql)

Connection to SQLite DB successful
here
('Steven', 'King', 24000.0, 2880.0)
('Neena', 'Kochhar', 17000.0, 2040.0)
('Lex', 'De Haan', 17000.0, 2040.0)
('Alexander', 'Hunold', 9000.0, 1080.0)
('Bruce', 'Ernst', 6000.0, 720.0)
('David', 'Austin', 4800.0, 576.0)
('Valli', 'Pataballa', 4800.0, 576.0)
('Diana', 'Lorentz', 4200.0, 504.0)
('Nancy', 'Greenberg', 12000.0, 1440.0)
('Daniel', 'Faviet', 9000.0, 1080.0)
('John', 'Chen', 8200.0, 984.0)
('Ismael', 'Sciarra', 7700.0, 924.0)
('Jose Manuel', 'Urman', 7800.0, 936.0)
('Luis', 'Popp', 6900.0, 828.0)
('Den', 'Raphaely', 11000.0, 1320.0)
('Alexander', 'Khoo', 3100.0, 372.0)
('Shelli', 'Baida', 2900.0, 348.0)
('Sigal', 'Tobias', 2800.0, 336.0)
('Guy', 'Himuro', 2600.0, 312.0)
('Karen', 'Colmenares', 2500.0, 300.0)
('Matthew', 'Weiss', 8000.0, 960.0)
('Adam', 'Fripp', 8200.0, 984.0)
('Payam', 'Kaufling', 7900.0, 948.0)
('Shanta', 'Vollman', 6500.0, 780.0)
('Irene', 'Mikkilineni', 2700.0, 324.0)
('John', 'Russell', 14000.0, 1680.0)
('Karen', 'Partners', 13500.0, 1620.0)
('Jonathon', 'Taylor', 8600.0, 1032.0)
('Jack', 'Livingston', 8400.0, 1008.0)
('Kimberely', 'Grant', 7000.0, 840.0)
('Charles', 'Johnson', 6200.0, 744.0)
('Sarah', 'Bell', 4000.0, 480.0)
('Britney', 'Everett', 3900.0, 468.0)
('Jennifer', 'Whalen', 4400.0, 528.0)
('Michael', 'Hartstein', 13000.0, 1560.0)
('Pat', 'Fay', 6000.0, 720.0)
('Susan', 'Mavris', 6500.0, 780.0)
('Hermann', 'Baer', 10000.0, 1200.0)
('Shelley', 'Higgins', 12000.0, 1440.0)
('William', 'Gietz', 8300.0, 996.0)

In [36]:
len(emp_data)

TypeError: object of type 'NoneType' has no len()